@using System.Text.RegularExpressions
@model AppAwm.Respostas.EmpresaAnswer

@{
    ViewData["Title"] = "Empresas";

    var userSession = System.Text.Json.JsonSerializer.Deserialize<Usuario>(Context.Session.GetString("UserAuth")!);
}

@if (userSession.Perfil == AppAwm.Models.Enum.EnumPerfil.Administrador)
{
    <form>
        <div class="row">
            <h4>Pesquisar Empresas</h4>
            <div class="input-field col s3">
                <input id="cnpjEmpresa" type="text">
                <label for="Cnpj">CNPJ</label>
            </div>
            <div class="input-field col s3">
                <input id="Empresa" type="text">
                <label for="Empresa">Empresa</label>
            </div>
            <div class="input-field col s3">
                <input id="nomeFantasia" type="text">
                <label>Nome Fantasia</label>
            </div>
            <div class="input-field col s3">
                <select id="StatusFilter">
                    <option value="" selected>Todos</option>
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>
                </select>
                <label>Status</label>
            </div>
        </div>

        <div class="col s12">
            <a class="waves-effect waves-light btn-small" id="btnSearch"><i class="material-icons left">search</i>Pesquisar</a>
            <a class="waves-effect waves-light btn-small " id="btnClear"><i class="material-icons left">clear</i>Limpar</a>
            <a asp-controller="Empresa" asp-action="Create" class="waves-effect waves-light btn-small "><i class="material-icons left small">add</i>Nova Empresa</a>
        </div>
    </form>
<hr>
}
else
{
    <div class="row">
        <div class="col s6">
            <div class="card blue-grey z-depth-3">
                <div class="card-content white-text">
                    <span class="card-title">@Model.Empresa.Nome</span>
                    <p>
                        Nome Fantasia: @(Model.Empresa.NomeFantasia ?? " ****** ") <br/>
                        STATUS: @(Model.Empresa.Status ? "ATIVO" : "INATIVO")<br/>
                        CNPJ: @Convert.ToUInt64(Model.Empresa.Cnpj).ToString(@"00\.000\.000\/0000\-00")
                    </p>
                </div>
                <div class="card-action orange-text accent-3">
                    <a class="waves-effect waves-light btn-large modal-trigger" onclick="javascript:modalParams({codigoEmpresa:@Model.Empresa.Cd_Empresa, documento:'@Regex.Replace(Model.Empresa.Cnpj!, @"(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})", @"$1.$2.$3/$4-$5")', titulo:'@Model.Empresa.Nome', scope:'empresa', documentacaoPendente: '@Model.Empresa.DocumentacaoValidada'})">
                        <i class="material-icons left" style="font-size:30px;">attach_file</i>Documentos obrigatórios
                    </a>
                    <a class="waves-effect waves-light btn-large modal-trigger purple darken-3" onclick="javascript:modalParams({codigoEmpresa:@Model.Empresa.Cd_Empresa, documento:@Model.Empresa.Cnpj, titulo:'@Model.Empresa.Nome', scope:'anexoComumEmpresa'})">
                        <i class="material-icons left" style="font-size:30px;">attach_file</i>Documentos Opcionais
                    </a>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal Anexo Empresa -->
<div id="modalAnexoEmpresa" class="modal modal-fixed-footer">
    <input type="hidden" id="scope" name="scope" />
    <input type="hidden" id="codigoEmpresa" name="codigoEmpresa" />
    <input type="hidden" id="documento" name="documento" />
    <input type="hidden" id="listaTipoDocumento" name="documento" />
    <form method="post" enctype="multipart/form-data" id="frmAnexo">
        <div class="modal-content">
            <div class="right-align" id="titulo"></div>
            <div class="row" style="margin-bottom:2px;">
                <div id="divFileAnexo" class="file-field input-field col s4">
                    <div class="btn">
                        <span>Localizar</span>
                        <input type="file" class="btn-small" accept="application/pdf" name="files" id="files" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Adicionar arquivos">
                    </div>
                </div>
                <div id="divTipoAnexo" class="input-field col s4">
                    <select id="tipoAnexo" data-size="6" size="6">
                        <option value="0" disabled selected>Selecione</option>
                    </select>
                    <label>Tipo do documento</label>
                </div>
                <div class="input-field col s4">
                    <input id="descricao" type="text" maxlength="100">
                    <label for="Descricao">Descrição</label>
                </div>
            </div>

            <div id="DivRecordAnexo"></div>
        </div>
        <div class="modal-footer alert-info">
            <span class="new badge left" data-badge-caption="Requerimento de documentação ténica de empresa">Formulário:</span>
            <a id="btnCloseModaEmpresa" class="modal-close waves-effect waves-teal btn-flat">fechar</a>
            <button type="button" id="enviarAnexo" class="btn waves-effect waves-light">salvar</button>
        </div>
    </form>
</div>

<!-- Modal Obra Empresa -->
<div id="modalObraEmpresa" class="modal modal-fixed-footer">
    <form method="post" id="frmObra">
    <input type="hidden" id="cd_obra" name="cd_obra" value="0" />
    <input type="hidden" id="cd_empresa_id" name="cd_empresa_id" />
    <input type="hidden" id="cd_cliente_id" name="cd_cliente_id" />
        <div class="modal-content">
            <div class="right-align" id="tituloEmpresaObra"></div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="nomeObra" type="text" maxlength="100">
                    <label for="NomeObra">Nome da Obra</label>
                </div>
                <div class="input-field col s4">
                    <input id="descricaoObra" type="text" maxlength="100">
                    <label for="DescricaoObra">Descrição da Obra</label>
                </div>
                <div class="input-field col s2">
                    <div class="switch">
                        <label>
                            Inativo
                            <input type="checkbox" id="Status">
                            <span class="lever"></span>
                            Ativo
                        </label>
                      </div>
                 </div>
                </div>
            <div id="DivRecordObra"></div>
        </div>
        <div class="modal-footer alert-info">
            <span class="new badge left" data-badge-caption="Registrar/Editar Obras">Formulário:</span>
            <a id="btnCloseModaObra" class="modal-close waves-effect waves-teal btn-flat">fechar</a>
            <button type="button" class="btn waves-effect waves-light red darken-3" onclick="javascript:LimparCampos();">limpar</button>
            <button type="button" id="enviarObra" class="btn waves-effect waves-light">salvar</button>
        </div>
    </form>
</div>

<!-- Modal Vincular Obra com Colaborador -->
<div id="modalVincularColaborador" class="modal modal-fixed-footer">
    <form method="post" id="frmVincularColaborador">
        <input type="hidden" id="cd_empresa" name="cd_empresa" />
        <div class="modal-content">
            <div class="right-align" id="tituloColaboradorObra"></div>
                <div class="input-field col s12">
                    <select id="comboBoxObras"></select>
                    <label>Obras</label>
                </div>
            <div id="DivRecordColaborador"></div>
        </div>
        <div class="modal-footer alert-info">
            <span class="new badge left" data-badge-caption="Vincular Colaborador com Obras">Formulário:</span>
            <a id="btnCloseModaVinculaColaborador" class="modal-close waves-effect waves-teal btn-flat">fechar</a>
        </div>
    </form>
</div>

<footer id="DivRenderData"></footer>

<script src="~/js/anexo/anexo.js"></script>
<script src="~/js/empresa/empresa.js"></script>
