@model X.PagedList.IPagedList<Colaborador>
@using X.PagedList
@using X.Web.PagedList

@if (Model?.Count() > 0)
{
<table id="tableFuncionarioRecord" class="display compact">
    <thead>
        <tr>
            <th style="width:50%;">Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
             <td>@item.Nome</td>
            <td>@Convert.ToUInt64(item.Documento).ToString(@"000\.000\.000\-00")</td>
            <td>@item.Telefone</td>
                    <td class="right-align">
                    <div class="switch">
                        <label>
                            Desvincular
                                <input type="checkbox" class="vincula" onchange="javasecript:vinculaFuncionario({ checked:this.checked, cd_funcionario_id:@item.Cd_Funcionario})" @(item.VinculoObras == null ? "" : item.VinculoObras.Any(s => s.Vinculado) ? "checked" : "")>
                            <span class="lever"></span>
                            Vincular
                        </label>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <input type="hidden" value="@Model.PageCount" id="pageCount" />
                @Html.PagedListPager(Model, page => null, new PagedListRenderOptions
                {
                   DisplayLinkToIndividualPages = true,
                   DisplayPageCountAndCurrentLocation = false,
                   MaximumPageNumbersToDisplay = 25,
                   LiElementClasses = new string[] { "waves-effect" },
                   PageClasses = new string[] { "btnSearch" },
                   DisplayLinkToNextPage = PagedListDisplayMode.Never,
                   DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                   DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                })
            </td>
        </tr>
    </tfoot>
    </table>
}
else
{
    <div class="col row z-depth-3 red white-text center-align" style="height: 50px; border: 1px solid; border-radius: 10px; padding:12px 0px 0px 0px;">
        <div class="col s1 left-align"><i class="material-icons white-text">report_problem</i></div>
        <div class="col s11 center">Nenhuma registro foi localizado.</div>
    </div>
}

<script>
    $(document).ready(function () {

        $('#tableFuncionarioRecord .pagination').attr('id', 'pageItem');

        var paren = $('#tableFuncionarioRecord .pagination').find('li');

        paren.each(function (index, li) {
            li.id = li.innerText
            li.innerHTML = "<a class='btnSearch'>" + li.innerText + "</a>";
        });

        $('#tableFuncionarioRecord .btnSearch').click((event) => {
            var obj = { pagina: event.target.innerHTML, id_Empresa: $('#cd_empresa').val(), id_Obra: $('#comboBoxObras').val() };
            getFuncionario(obj);
        });

        $('#tableFuncionarioRecord').DataTable({
            language: {
                url: 'js/pt-br.json',
            },
             pageLength: 14,
            layout: {
                topStart: null,
                bottom: null,
                bottomStart: null,
                bottomEnd: null,
                topEnd: null,
            }
        });
    });
</script>
