@model X.PagedList.IPagedList<Cliente>
@using System.Text.RegularExpressions
@using X.PagedList
@using X.Web.PagedList

@if (Model?.Count() > 0)
{
    <table id="tableList" class="display compact">
        <thead>
            <tr>
                <th>
                    CNPJ
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].PlanoPacoteVidas)
                </th>
                <th>
                    Números de Vidas
                </th>
                <th>
                    Vidas Ativas
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Periodo_Teste)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Vencimento_Periodo_Teste)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Convert.ToUInt64(item.Cnpj).ToString(@"00\.000\.000\/0000\-00")
                    </td>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                         @item.PlanoPacoteVidas  
                    </td>
                    <td>
                        <b>@item.PlanoVidas</b> contratadas
                    </td>
                    <td>
                        <b>@item.PlanoVidasAtivadas</b> registradas
                    </td>
                    <td class="@(item.Status ? "green-text": "red-text" )">
                        @(item.Status ? "Ativo" : "Inativo")
                    </td>
                    <td class="@(item.Periodo_Teste ? "green-text": "red-text" )">
                        @(item.Periodo_Teste ? "SIM" : "NÃO")
                    </td>
                    <td>
                        @item.Vencimento_Periodo_Teste
                    </td>
                    <td class="right-align">
                        <a data-position="right" data-tooltip="Editar" asp-controller="Cliente" asp-action="Create" asp-route-id="@item.Cd_Cliente" class="waves-effect waves-light btn-small tooltipped"><i class="material-icons center">edit</i></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <input type="hidden" value="@Model.PageCount" id="pageCount" />
                    @Html.PagedListPager(Model, page => null, new PagedListRenderOptions
                   {
                       DisplayLinkToIndividualPages = true,
                       DisplayPageCountAndCurrentLocation = false,
                       MaximumPageNumbersToDisplay = 25,
                       LiElementClasses = new string[] { "waves-effect" },
                       PageClasses = new string[] { "btnSearch" },
                       DisplayLinkToNextPage = PagedListDisplayMode.Never,
                       DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                       DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                   })
                </td>
                <td>
                    <span class="badge text-accent-3 blue-text right"> Total de Registros: @Model.TotalItemCount</span>
                </td>
            </tr>

        </tfoot>
    </table>
}
else
{
    <div class="col row z-depth-3 red white-text center-align" style="height: 50px; border: 1px solid; border-radius: 10px; padding:12px 0px 0px 0px;">
        <div class="col s1 left-align"><i class="material-icons white-text">report_problem</i></div>
        <div class="col s11 center">Nenhuma registro foi localizado.</div>
    </div>

}

<script>

    $(document).ready(function () {

        $('#tableList .tooltipped').tooltip();

        $('#tableList .pagination').attr('id', 'pageItem');

        var paren = $('#tableList .pagination').find('li');

        paren.each(function (index, li) {
            li.id = li.innerText
            li.innerHTML = "<a class='btnSearch'>" + li.innerText + "</a>";
        });

        $('#tableList .btnSearch').click((event) => {
            $("#btnSearch").trigger("click", event.target.innerHTML);
        });


        $('#tableList').DataTable({
            language: {
                url: 'js/pt-br.json',
            },
            "iDisplayLength": 12,
            layout: {
                topStart: null,
                bottom: null,
                bottomStart: null,
                bottomEnd: null,
                topEnd: null,
            }
        });
    });
    
</script>