@model AppAwm.Models.Usuario
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col s11 blue-grey-text accent-4" style="font-size:18px;">
            O HDDoc disponbiliza alguns vídes curtos para lhe guiar durante o processo de operação
            você també poderá acessar o menu de posicionado no campo superior ao lado esquerdo da tela
    </div>
</div>
<hr />
<br>
<div class="row">
    <div class="col s4">
        <div class="card hoverable">
            <div class="card-image">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/_KSNyuKs4PE?si=KUqdqzb7hTiXNM8-" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <span class="card-title">Cadastrar Colaboradores</span>
            </div>
            <div class="card-content">
                <p>
                    Olá @User.Identity.Name, tudo joia!!!
                    Nesse vídeo, você irá aprender como cadastrar e editar seus colaboradores
                </p>
            </div>
            <div class="card-action">
                  <a href="#">Acessar pagina</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card hoverable">
            <div class="card-image">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/2N9Azigg2rw?si=jPoEy8Hg-q0d7IRp"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <span class="card-title">Cadastrar Empresas</span>
            </div>
            <div class="card-content">
                <p>
                    E neste video @User.Identity.Name.Split(' ')[0]<br>
                    você irá aprender como cadastrar e editar seus tercerios<br>
                </p>
            </div>
            <div class="card-action">
                <a href="#">Acessar pagina</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card hoverable">
            <div class="card-image">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/gm2LmELpBG8?si=lukxzJFU50LcS55_"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <span class="card-title">Enviar Documentação</span>
            </div>
            <div class="card-content">
                <p>
                    preparamos também @User.Identity.Name.Split(' ')[0] um passo a passo<br>
                    para o envio de documentação ténica dos seus colaboradores<br>
                </p>
            </div>
            <div class="card-action">
                <a href="#">Acessar pagina</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="modalMudarSenha" class="modal">
    <div class="modal-content">
        <h5>Alterar senha temporária de @Model.Nome</h5>
        <hr />
        <br>
        <div class="row">
            <form id="frmMudarSenha" asp-controller="Start" asp-action="changePassword" class="col s12">
                <input asp-for="Cd_Usuario" type="hidden" value="@Model.Cd_Usuario" />
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">https</i>
                        <input asp-for="Senha" id="password" type="password">
                        <label asp-for="Senha">Nova senha</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">https</i>
                        <input asp-for="ConfirmPassword" id="confirmPassword" type="password">
                        <label asp-for="ConfirmPassword">Confirmar senha</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a asp-controller="Start" asp-action="Logout" class="waves-effect waves-green btn purple">
            <i class="material-icons left">reply</i>sair
        </a>
        <button id="btnLimpar" class="waves-effect waves-green btn">
            <i class="material-icons left">clear</i>Limpar
        </button>
        <button id="btnMudarSenha" class="waves-effect waves-green btn">
            <i class="material-icons left">edit</i>Alterar senha
        </button>



    </div>
</div>


<script>
    var isMudarSenha = Boolean(@(Convert.ToInt16(Model.MudarSenha)));

    if (isMudarSenha)
        setTimeout(() => { $('#modalMudarSenha').modal({ dismissible: false }).modal('open'); }, 500);

    $('#btnMudarSenha').on('click', () => {

        if ($('#password').val() == '' ||  $('#confirmPassword').val() == '') {
            M.toast({ html: '<i class="material-icons white-text">report</i>&nbsp;Informe as senhas nos campos!', classes: 'red darken-3 rounded' });
            return;
        }

        if ($('#password').val() != $('#confirmPassword').val()) {
            M.toast({ html: '<i class="material-icons white-text">report</i>&nbsp;Existem digergências nas senhas informada!', classes: 'red darken-3 rounded' });
            return;
        }

        loading(true)

        var frm = $('#frmMudarSenha').serialize();

        $.ajax({
            type: 'POST',
            url: '/Start/changePassword',
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: frm
        })
            .done(function (data) {

                loading(false);

                $('#modalMudarSenha').modal({ dismissible: false }).modal('close');

                let clss = data.success == true ? 'blue' : 'red';

                M.toast({ html: `<i class="material-icons white-text">check_circle</i>&nbsp - ${ data.message}`, classes: `${clss} darken-2 rounded`});

                setTimeout(() => { window.location.href = '/Start/Logout'; }, 3000);
            })
            .fail(function (data) {

                loading(false);

                $('#modalMudarSenha').modal({ dismissible: false }).modal('close');

                M.toast({html: '<i class="material-icons white-text">cancel</i>&nbsp - ' + data.message, classes: 'red darken-2 rounded'});
            });

    });

    $('#btnLimpar').on('click', () => { $('#frmMudarSenha').trigger("reset");});


</script>